# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/.vscode
/node_modules
*.lock
public/*
.storybook
.next
.gitignore
.eslintcache
.gitattributes
.tsBuildInfoFile
.stylelintcache
/tmp
